<style>
{
  box-sizing: border-box;
}

/*.win3d {*/
    /*padding: 2.5px;*/
    /*height: 94vh;*/ /* Should be removed. Only for demonstration */
    /*resize: auto;*/
/*}*/
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 2.5px;
  height: 94vh; /* Should be removed. Only for demonstration */
  /*resize: auto;
  overflow: auto;*/
}

.left {
    width: 17%;
    overflow: auto;
}

.middle {
  width: 55%;
}

.center {
    width: 56%;
}

 .right {
  width: 26%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*table {*/
    /*border-collapse: collapse;*/
    /*width: 100%;
    height: 100%;
}*/

table, th, td {
  border: 1px solid grey;
}


#inset {
    width: 100px;
    height: 100px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0;
    padding: 0px;
    position: absolute;
    /*left: 220px;*/
    bottom: 170px;
    z-index: 100;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
</style>